@page
@model tarearazor.Pages.IndexModel
@{
     ViewData["Title"] = "Adventure Works Programacion 3";
}
 <div class="jumbotron">
        <h1 class="display-3">Tarea 2</h1>
        <p class="lead">utilizando razor pages</p>
        <hr/>
        <p> Esta es una pagina razor </p>
        
            <a class="btn btn-primary" href="Index">subida al ges</a>
        </p>
    </div>